<div class="cover">
  <div class="cover-caption">
    <h1 class="jumbotron-heading">Miles of Smiles</h1>
    <p class="lead">Make Your happy memory last</p>
    <p>
      <% if !current_user %>
        <%= link_to 'Sign Up Today', new_user_registration_path, class: 'btn btn-secondary' %>
      <% end %>
    </p>
  </div>
</div>

<!-- <section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Miles of Smiles</h1>
    <p class="lead text-muted">Make Your happy memory last</p>
    <p>
      <a href="#" class="btn btn-primary">Sign Up</a>
      <a href="#" class="btn btn-secondary">Sign In</a>
    </p>
  </div>
</section> -->
<div class="container">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</div>
